<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<!--
	<parameter name="browserName" value="Chrome" />

	<parameter name="url" value="https://automationexercise.com/" />
   -->
	<test thread-count="5" name="Test">
		<groups>
			<define name="one time run">
				<include name="smoke" />
			</define>
		</groups>
		<classes>
			<!--
      <class name="testingCodes.AnnotationTask" />
      -->
			<class name="testingCodes.DemoNop1">

				<methods>
					<exclude name="searchProducts" />
				</methods>
			</class>
		</classes>
	</test>     <!--Test -->
</suite>      <!--Suite -->
